<% if bikes != [] %>
  <div class="row row-cols-1">
    <% bikes.each do |bike| %>
      <div class="col d-flex justify-content-center" style="padding-bottom: 15px">
        <%= link_to bike do %>
          <div class="card booking-card mb-3" style="max-width: 700px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <%= image_tag bike.photos[0], alt: "", width: "100%", height: "100%", class:"img-fluid booking-img" %>
                </div>
                <div class="col-md-8">
                  <div class="card-booking-content mx-3">
                    <h4 class="pb-1"><%= bike.title %></h4 class="pb-1">
                    <p style="color: black">$<%= bike.price_per_day.to_i %>/day</p>
                    <p style="color: black"><%= bike.description %></p>
                  </div>
                </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="text-center">No bikes yet.</p>
<% end %>
