<div class="container d-flex flex-column align-items-center">
  <div class="mt-5">
    <h1>Welcome, <%= @user.first_name %></h1>
  </div>
  <div class="mt-5">
    <h2>My Bookings</h2>
    <% if @my_bookings != [] %>
      <% @my_bookings.each do |booking| %>
        <p><%= booking.bike.title %></p>
        <p>Start: <%= booking.start_date %></p>
        <p>Finish: <%= booking.end_date %></p>
        <p>Status: <%= booking.status %></p>
        <p><strong>$<%= booking.total_price %></strong></p>
      <% end %>
    <% else %>
      <p>No bookings yet.</p>
    <% end %>
  </div>
    <div class="mt-5">
    <h2>My Bike Bookings</h2>
    <% if @my_bike_bookings != [] %>
    <% @my_bike_bookings.each do |booking| %>
      <p><%= booking.bike.title %></p>
      <p>Booking ID: <%= booking.id %></p>
      <p>Start: <%= booking.start_date %></p>
      <p>Finish: <%= booking.end_date %></p>
    <% end %>
    <% else %>
      <p>No bookings yet.</p>
    <% end %>
  </div>
</div>
