<%= render "shared/navbar" %>
<div class="container d-flex flex-column align-items-center">
  <div class="mt-5">
    <h1>Welcome, <%= @user.first_name %></h1>
  </div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="my-bookings-tab" data-bs-toggle="tab" data-bs-target="#my-bookings" type="button" role="tab" aria-controls="my-bookings" aria-selected="true">Bookings</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="bikes-bookings-tab" data-bs-toggle="tab" data-bs-target="#bikes-bookings" type="button" role="tab" aria-controls="bikes-bookings" aria-selected="false">Bike Bookings</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="bookmarks-tab" data-bs-toggle="tab" data-bs-target="#bookmarks" type="button" role="tab" aria-controls="bookmarks" aria-selected="false">Bookmarks</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="bikes-tab" data-bs-toggle="tab" data-bs-target="#bikes" type="button" role="tab" aria-controls="bikes" aria-selected="false">Bikes</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="my-bookings" role="tabpanel" aria-labelledby="my-bookings-tab">
      <div class="mt-5">
        <h2 class="text-center p-2">My Bookings</h2>
        <% if @my_bookings.empty? %>
          <p>No bookings yet</p>
        <% else %>
            <%= render "users/bookings_display", bookings: @my_pending_bookings, status: "Pending" %>
            <%= render "users/bookings_display", bookings: @my_approved_bookings, status: "Confirmed" %>
            <%= render "users/bookings_display", bookings: @my_rejected_bookings, status: "Cancelled" %>
            <%= render "users/bookings_display", bookings: @my_completed_bookings, status: "Completed" %>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="bikes-bookings" role="tabpanel" aria-labelledby="bikes-bookings-tab">
        <div class="mt-5">
          <h2 class="text-center p-2">My Bike Bookings</h2>
          <%= render "users/bookings_display", bookings: @my_bike_pending_bookings, status: "Pending" %>
          <%= render "users/bookings_display", bookings: @my_bike_approved_bookings, status: "Confirmed" %>
          <%= render "users/bookings_display", bookings: @my_bike_rejected_bookings, status: "Cancelled" %>
          <%= render "users/bookings_display", bookings: @my_bike_completed_bookings, status: "Completed" %>
        </div>
    </div>
    <div class="tab-pane fade" id="bookmarks" role="tabpanel" aria-labelledby="bookmarks-tab">
      <div class="mt-5">
        <%= render "shared/bookmarks" %>
      </div>
    </div>
    <div class="tab-pane fade" id="bikes" role="tabpanel" aria-labelledby="bikes-tab">
    <div class="mt-5">
      <h2 class="text-center p-2">My Beautiful Bikes</h2>
        <%= render "users/bikes_display", bikes: @bikes %>
      </div>
    </div>
  </div>
</div>
