<%= render "shared/navbar", user: current_user %>
<div class="banner">
  <h1 class="banner-title text-end">Get some.</h1>
</div>
<div class="container">
  <h2 class="mt-5" style="font-size: xxx-large;">Great Scooters Around You</h2>
  <div class="row mb-5">
    <% @bikes.each do |bike| %>
      <div class="col-sm-3 mt-5">
        <div class="card vertical" style="width: 18rem; line-height: 0.7;" id="bike-<%= bike.id %>" >
          <% if bike.photos.attached? %>
            <%= cl_image_tag bike.photos[0].key, height:200, width: 275, class:"bike-img" %>
          <% else %>
            <%= ":(" %>
          <% end %>
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h5 class="card-title fs-3"><%=link_to bike.title, bike_path(bike) %></h5>
              <% if current_user %>
                <% if bike.bookmarks.pluck(:user_id).include?(current_user.id) == true %>
                  <% bookmark = bike.bookmarks.find_by(user_id:current_user.id) %>
                  <%=link_to bookmark_path(bookmark), method: :delete, remote: true do %>
                    <i class="fas fa-heart" style="font-size: 20px;"></i>
                  <% end %>
                <% else %>
                  <%= link_to bike_bookmarks_path(bike), method: :post, remote: true do %>
                    <i class="far fa-heart" style="font-size: 20px;"></i>
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to new_user_session_path do %>
                    <i class="far fa-heart" style="font-size: 20px;"></i>
                <% end %>
              <%end%>
            </div>
            <p class="card-text"><%= bike.engine_size %>cc</p>
            <p class="card-text"><%= bike.category %></p>
            <div class="d-flex justify-content-between">
              <p class="card-text">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
              </p>
              <p class="card-text text-end">$<%= bike.price_per_day.round %> /day</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-around mt-5">
    <div class="clip-art-stack">
      <%= image_tag("home/home-blue-blob.png", width: 400, class:"stack-1") %>
      <%= image_tag("home/lady-bicycle.png", class:"stack-2") %>
    </div>
    <div class="pt-5 w-25">
      <h3>Freedom.</h3>
      <h3>A few clicks away.</h3>
      <p>Tired of Gojek? Need to find a two wheeled whip? Search for a Snatch and score yourself a ticket to bliss. Or save yourself from travel hassel and book a ride ahead of time.</p>
    </div>
  </div>
  <div class="d-flex justify-content-around mt-5 mb-5">
    <div class="pt-5 w-25">
      <h3>Have a bike?</h3>
      <h3>Make money.</h3>
      <p>Why not make a bit of side change with your extra wheels? Set your price and see who digs your Snatch!</p>
    </div>
    <div class="clip-art-stack">
      <%= image_tag("home/purple-vespa.png", width: 400, class:"stack-1") %>
      <%= image_tag("home/money.png", width: 150, height: 150, class:"stack-3") %>
    </div>
  </div>
</div>
