<%= render "shared/navbar" %>


<% if @bikes.empty? %>

  <div class="no-search-result">
    <div class="box-center">
      <p class="oups">Oops.</p>
      <p class="no-result-text">We found no bikes for your search.</p>
      <%= image_tag "index/no-result.png", class: "no-result-img" %>
    </div>
  </div>

<% else %>

<div class="search-page">
  <div class="search-map">
    <div class="map">
        <div style="width: 100%; height: 100%;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>

  <div class="search-result">
    <div class="">
      <h3>Snatch a bike near you</h3>
    </div>
    <hr>
    <% @bikes.each do |bike| %>
    <div class="bike-result-card" id="bike-<%= bike.id %>">
      <div class="bike-result-image">
        <% if bike.photos.attached? %>
          <%= cl_image_tag bike.photos[0].key, class: "bike-img", width: "100%", height: "100%" %>
        <% else %>
          <img src="https://www.btklsby.go.id/images/placeholder/basic.png" width="100%" height="100%" alt="" class="bike-img">
        <% end %>
      </div>
      <div class="bike-result-info w-100">
        <h4 class="bike-result-title"> <%= link_to bike.title, bike_path(bike) %></h4>
        <% if current_user %>
                <% if bike.bookmarks.pluck(:user_id).include?(current_user.id) == true %>
                  <% bookmark = bike.bookmarks.find_by(user_id:current_user.id) %>
                  <%=link_to bookmark_path(bookmark), method: :delete, remote: true do %>
                    <i class="fas fa-heart" style="font-size: 20px;"></i>
                  <% end %>
                <% else %>
                  <%= link_to bike_bookmarks_path(bike), method: :post, remote: true do %>
                    <i class="far fa-heart" style="font-size: 20px;"></i>
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to new_user_session_path do %>
                    <i class="far fa-heart" style="font-size: 20px;"></i>
                <% end %>
              <%end%></h2>
        <p class="bike-result-desc"><%= bike.description.first(100) + "..." %></p>
        <div>
          <p class="bike-result-address"><%= bike.address %></p>
          <p class="bike-result-price">$<%= bike.price_per_day.to_i %>/day</p>
        </div>
      </div>
    </div>
   <% end %>
  </div>

</div>

<% end %>
