<div class="container py-5">
 <div class="row"> 
 <div class="col-12 col-md-6 offset-lg-3">
 <div class="bg-white rounded p-3 shadow">
  <h3>Create a New Listing</h3>
        <%= simple_form_for @bike do |f| %>

          <%= f.input :title, placeholder: 'Title' %>

          <%= f.input :category, collection: ["Scooter", "Motorcycle", "Bicycle"] %>

          <%= f.input :engine_size, collection: ["50", "75", "100", "150","200", "250", "300", "350", "400", "450", "500", "550", "600", "650", "700", "750", "800", "850","900", "950", "1000", "1000+"], placeholder: 'Engine Size' %>

          <%= f.input :description, placeholder: 'Description' %>

          <%= f.input :license_plate, placeholder: 'License Plate' %>

          <%= f.input :address, placeholder: 'Address' %>

          <%= f.input :additional_info, placeholder: 'Additional Information' %>

          <%= f.input :price_per_day, placeholder: 'Price Per Day' %>

          <%= f.submit class: 'btn btn-warning'%>
          
        <% end %>
 </div>
 </div>
</div>

