<%= render "shared/navbar", user: current_user %>

<div class="container">

  <div class="bike-header">
    <h1 class="bike-title"><%= @bike.title %></h1>
    <p class="favorite-icon">❤️</p>
  </div>
  <div class="bike-images-container">
    <div class="main-image">
    <% if @bike.photos.attached? %>
      <%= cl_image_tag @bike.photos[0].key, height:300, width: 350, class:"bike-img" %>
    <% else %>
      <%= ":(" %>
    <% end %>
    </div>
    <div class="secondary-images">
      <div class="bike-img-gridbox">
        <img src="https://www.btklsby.go.id/images/placeholder/basic.png" class="bike-img" alt="">
      </div>
      <div class="bike-img-gridbox">
        <img src="https://www.btklsby.go.id/images/placeholder/basic.png" class="bike-img" alt="">
      </div>
      <div class="bike-img-gridbox">
        <img src="https://www.btklsby.go.id/images/placeholder/basic.png" class="bike-img" alt="">
      </div>
      <div class="bike-img-gridbox">
        <img src="https://www.btklsby.go.id/images/placeholder/basic.png" class="bike-img" alt="">
      </div>
    </div>
  </div>

  <div class="bike-location">
    <i>📍</i>
    <h2><%= @bike.address %></h2>
  </div>

  <div class="bike-details-book">
    <div class="bike-details">
      <div class="bike-features">
        <h2><%= @bike.title %> Specs and Features</h2>
        <span class="bike-specs"><h3><%= @bike.category.capitalize %></h3> <h3><%= @bike.engine_size %>cc</h3></span>
        <p><%= @bike.description %></p>
      </div>
      <div class="bike-reviews">
        <h2>Reviews</h2>
        <% @bike.bookings.each do |booking| %>
          <%= booking.review %>
          <%= booking.review %>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
          molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
          numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
          optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
          obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
          nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
          tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
          quia.
          </p>
        <% end %>
      </div>
    </div>
    <div class="bike-book">
      <div class="bike-book-content">
        <%= simple_form_for([@bike, @booking]) do |f| %>
          <%= f.input :start_date, as: :date, html5: true, required: true %>
          <%= f.input :end_date, as: :date, html5: true, required: true %>
          <%= f.button :submit, class: "book-btn", data_bs_toggle:"modal", data_bs_target:"#exampleModal" %>
        <% end %>
        <h4 class="total-price">$60.00</h4>
      </div>
    </div>
  </div>
</div>
