<%= render "shared/navbar", user: current_user %>
<div class="container">
  <div class="bike-header">
    <h1 class="bike-title"><%= @bike.title %></h1>
    <% if current_user %>
      <% if @bike.bookmarks.pluck(:user_id).include?(current_user.id) == true %>
        <% bookmark = @bike.bookmarks.find_by(user_id:current_user.id) %>
        <%=link_to bookmark_path(bookmark), method: :delete, remote: true do %>
          <i class="fas fa-heart" style= "font-size: 30px;"></i>
        <% end %>
      <% else %>
        <%= link_to bike_bookmarks_path(@bike), method: :post, remote: true do %>
          <i class="far fa-heart" style= "font-size: 30px;"></i>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
          <i class="far fa-heart" style= "font-size: 30px;" ></i>
      <% end %>
    <%end%>
  </div>
  <div class="bike-images-container">
    <div class="main-image">
      <%= cl_image_tag @bike.photos[0].key, class:"bike-img" %>
    </div>
    <div class="secondary-images">
      <div class="bike-img-gridbox">
        <% if @bike.photos[1] %>
          <%= cl_image_tag @bike.photos[1].key, class:"bike-img" %>
        <% else %>
          <%= image_tag "https://www.btklsby.go.id/images/placeholder/basic.png", class:"bike-img" %>
        <% end %>
      </div>
      <div class="bike-img-gridbox">
        <% if @bike.photos[2] %>
          <%= cl_image_tag @bike.photos[2].key, class:"bike-img" %>
        <% else %>
          <%= image_tag "https://www.btklsby.go.id/images/placeholder/basic.png", class:"bike-img" %>
        <% end %>
      </div>
      <div class="bike-img-gridbox">
        <% if @bike.photos[3] %>
          <%= cl_image_tag @bike.photos[3].key, class:"bike-img" %>
        <% else %>
          <%= image_tag "https://www.btklsby.go.id/images/placeholder/basic.png", class:"bike-img" %>
        <% end %>
      </div>
      <div class="bike-img-gridbox">
        <% if @bike.photos[4] %>
          <%= cl_image_tag @bike.photos[4].key, class:"bike-img" %>
        <% else %>
          <%= image_tag "https://www.btklsby.go.id/images/placeholder/basic.png", class:"bike-img" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="bike-location">
    <i>📍</i>
    <h2><%= @bike.address %></h2>
  </div>

  <div class="bike-details-book">
    <div class="bike-details">
      <div class="bike-features">
        <h2><%= @bike.title %> Specs and Features</h2>
        <span class="bike-specs"><h3><%= @bike.category.capitalize %></h3> <h3><%= @bike.engine_size %>cc</h3></span>
        <p><%= @bike.description %></p>
      </div>
      <div class="bike-reviews">
        <h2>Reviews</h2>
        <% if @bike.reviews.empty? %>
          <p>No review yet...</p>
        <% else %>
          <% @bike.reviews.each do |review| %>
            <p><%= review.comment %></p>
            <p><%= review.rating %></p>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="bike-book">
      <div class="bike-book-content">
        <%= simple_form_for([@bike, @booking]) do |f| %>
          <%= f.input :start_date, as: :date, html5: true, required: true %>
          <%= f.input :end_date, as: :date, html5: true, required: true %>
          <%= f.button :submit, class: "book-btn", data_bs_toggle:"modal", data_bs_target:"#exampleModal" %>
        <% end %>
        <h4 class="total-price">$60.00</h4>
      </div>
    </div>
  </div>
</div>
