<div class="container mt-5">
  <div class="bike-title d-flex justify-content-between">
    <h1><%= @bike.title %> - $<%= @bike.price_per_day.round %></h1>
    <i class="fa-regular fa-heart"></i>
  </div>
  <div class="photos d-flex">
    <div class="main-photo">
    <%= cl_image_tag("kvkchmfu6fbwwe1jgtet", width: 800, height: 600, crop: :fill, class: "bike-photo") %>
    </div>
    <div class="photo-grid d-flex">
    <%= cl_image_tag("kvkchmfu6fbwwe1jgtet",
          width: 400, height: 300, crop: :fill, class: "bike-photo") %>
    <%= cl_image_tag("kvkchmfu6fbwwe1jgtet",
          width: 400, height: 300, crop: :fill, class: "bike-photo") %>
    <%= cl_image_tag("kvkchmfu6fbwwe1jgtet",
          width: 400, height: 300, crop: :fill, class: "bike-photo") %>
    </div>
  </div>
  <h2><%= @bike.address %></h2>
  <div class="bike-details d-flex justify-content-around">
      <div class="bike-reviews">
      <h2>Reviews</h2>
      <% @bike.bookings.each do |booking| %>
        <%= booking.review %>
        <%= booking.review %>
      <% end %>
    </div>
    <div class="features">
      <h2><%= @bike.title %> Specs and Features</h2>
      <h3><%= @bike.category %></h3>
      <p><%= @bike.description %></p>
      <p><%= @bike.engine_size %></p>
      <p>
        <% @bike.features.each do |feature| %>
          <%= feature %>
        <% end %>
      </p>
    </div>
    <div class="payment-card"></div>
  </div>
</div>
