<%= render 'shared/navbar' %>

<div class="new-bike-fullpage">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md-6 offset-lg-3">
        <div class="add-form-card">
          <h3 class="add-form-title">Leave a review</h3>
              <%= simple_form_for [@booking, @review] do |f| %>
                <div class="">
                  <%= f.input :comment, as: :text, placeholder: 'Write your review here ...', label: false, :input_html => {:style => 'width: 100%; resize: none;', :rows => 6, class: 'response-project'} %>
                </div>

                <%= f.collection_radio_buttons :rating, [[5], [4], [3], [2], [1]], :first, :last, item_wrapper_tag: false, boolean_style: :inline do |b| %>
                  <%= b.radio_button + b.label {''} %>
                <% end %>

                <span class="dropdowns">
                  <%= f.submit class: 'btn button_master', label: false%>
                </span>
              <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
